streamlit
langchain
langchain-core
langchain-google-genai
langchain-community
langchain-experimental
langchain-cohere==0.1.5
cohere==5.5.8
beautifulsoup4
faiss-cpu
python-dotenv
python-docx
docx2txt
rank_bm25
llama-parse
nest-asyncio
lxml[html_clean]
nltk
playwright
